body, select, button, input, textarea {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

input[type=text], select, textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
}

table input[type=text], table select, table textarea {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  min-width: 100px;
  font-size: inherit;
}

select, button, input[type=submit] {
  width: 100%;
  height: 40px;
}

button {
  padding: 0.25em .5em;
  border: none;
}

textarea {
  min-height: 24px;
  outline: none;
  resize: none;
  overflow: hidden;
}

table {
  border-spacing: 0 0;
  border-collapse: collapse;
  background-color: #fafafa;
  box-sizing: border-box;
}

table td, table th {
  border: 1px solid #ccc;
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
  box-sizing: border-box;
}

table td {
  vertical-align: top;
  height: 2em;
  padding: 0;
  margin: 0;
}

table tbody, table thead, table tfoot
{
  display: block;
  max-width: 100vw;
}

table thead, table th {
  z-index: 1;
  height: 45px;
  background-color: #fff;
}

table tbody
{
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  top: 45px;
  left: 0;
  bottom: 0;
  position: absolute;
}

td.checkbox, th.checkbox {
  width: 24px;
  min-width: 24px;
}

*[data-selected=true] > td.checkbox {
  background: url('img/check.png') no-repeat center;
}

*[data-selected=false] > td.checkbox {
  background: url('img/uncheck.png') no-repeat center;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.text {
  white-space: pre-wrap;
  background-color: #cfc;
}

.warning {
  background-color: #ffc;
}

.error {
  background-color: #fcc;
}

.small {
  font-size: 12px;
}

.large {
  font-weight: normal;
  font-size: 16px;
}

.upper {
  text-transform: uppercase;
}

.padded {
  padding: 1em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #aaf;
}

*[data-selected=true] > *,
*[data-selected=true],
*[data-href]:hover {
  background-color: #ddf;
  cursor: pointer;
}

.group:before {
  content: url('img/table.png');
}
.group {
  white-space: nowrap;
}

.posts:before {
  content: url('img/pencil.png');
}

.blank {
  background-color: #fff;
}

#exporter {
  width:100px;
  display:block;
  margin: 0 auto;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2em;
}

.avatar {
  float: right;
  height: 4em;
  padding-left: .5em;
  padding-bottom: .5em;
}

.icon {
  height:1.5em;
  margin-top:-0.25em;
  vertical-align:middle;
}

h1 {
  text-transform: uppercase;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column {
  box-sizing: border-box;
  float: left;
}

.progress {
  background-color: #aea;
  border: 1px solid #ccc;
  margin-bottom: 4px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

.header {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 6em;
  padding: 1em .5em;
  z-index: 1;
  background-color: #ccc;
}

.content {
  display: block;
  position: absolute;
  top: 6em;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  left: 0;
  bottom: 0;
}

.login {
  float: right;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}
